body {}

.navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 400px;

}

.left-contents {
    display: flex;
    justify-content: space-between;
}

a {
    padding: 20px 20px 0px 0px;
}

.intro-navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 150px;

}

.first-intro {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;

}

.major-container {
    background-color: #1f2937;
    color: white;
    margin: -20px;


}

h1 {
    margin: 0px;
    font-size: 48px;
}

.sign-up {
    background: #3882F6;
    color: white;
    align-self: flex-start;
    padding: 5px 20px 5px 20px;
    border-radius: 10%;
    font-size: 14px;
    font-weight: 800;
}

.major-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 60px 0px;
}

.pic-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

}

.cool {
    height: 200px;
    width: 200px;
    border: 7px solid #3882F6;
    border-radius: 5%;
}

.major-container3 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    background: #e5e7eb;
    padding: 40px 300px 40px 300px;

}

strong {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    ;
}

.major-container4 {
    display: flex;

    justify-content: center;
    background-color: #3882F6;
    margin: 80px 300px 80px 300px;
    gap: 120px;
    color: white;
    border-radius: 10px;
}

.final-button {
    margin: 40px 0px 40px 0px;
    padding: 5px 20px 5px 20px;
    background: #3882F6;
    color: white;
    border-color: white;
    border-radius: 5px;
    font-size: 16px;
}

.inner-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
}


footer {
    display: flex;
    justify-content: center;
    background: #1f2937;
    color: white;
    margin: -20px;
    padding: 15px;

}